curation/build

squad-config.json
lerna-debug.log

*.env
./dist/
./metastore/dist/
node_modules/
target/

bundle.json
metastore.dna.json
ganache.log
holochain.log

.cargo

./default.nix

*secret*
squad_components.json


// made by netwrking shim
packages/squad-games-web/squad.games