lerna-debug.log

*.env
./dist/
./metastore/dist/
node_modules/
target/
dist/
build/

bundle.json
metastore.dna.json
ganache.log
holochain.log

.cargo

./default.nix

*secret*
squad_components.json

packages/curation-market/clients/js/contracts
packages/curation-market/clients/js/curation-config.json

// made by netwrking shim
packages/squad-games-web/squad.game
packages/squad-sdk/js/squad.game

