lerna-debug.log

*.env
./dist/
./metastore/dist/
node_modules/
target/
dist/
build/
bin/

bundle.json
metastore.dna.json
ganache.log
holochain.log

.cargo

./default.nix

*secret*
squad_components.json

packages/curation-market/clients/js/contracts
packages/curation-market/clients/js/curation-config.json
packages/curation-market/clients/js/development-curation-config.json

// made by netwrking shim
packages/squad-games-web/squad.games
packages/squad-sdk/js/squad.games

// made during migration
packages/curation-market/app/curation-config.json
packages/curation-market/app/development-curation-config.json