.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 38vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 19vmin;
  color: #61dafb;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 62vw;
  margin-left: auto;
  margin-right: auto;
}

.Definition {
  width: 62vw;
  border-bottom: 1px solid grey;
  margin-bottom: 2vw;
  word-wrap: break-word;
}

.Launch-button {
  margin: 1vw 0vw 1vw 0vw;
}